.featured-article {
  margin: 5vw;
  background-color: var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--white);
}

.featured-article-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-article-button {
  background-color: var(--tertiary-color);
  color: var(--black);
  font-weight: 700;
  font-size: clamp(12px, 14px, 24px);
  padding: 10px;
  border-style: solid;
  border-color: rgb(111, 82, 157);
  border-radius: 5px;
  margin: 25px;
  cursor: pointer;
}

.featured-article-title {
  width: clamp(40vmin, 60vmin, 80vmin);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.featured-article-image {
  width: clamp(300px, 50vmin, 90vmin);
  border: 1px solid var(--tertiary-color);
  border-radius: 5px
}


.featured-article-right-info {
  width: clamp(25vmin, 70vmin, 90vmin);
  padding: 16px;
}

.featured-article-tagline {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: clamp(10px, 14px, 18px);
  margin-bottom: 20px;
}

.featured-article-overview {
  .outer-wrapper {
    margin: 20px 0;
  }

  .inner-wrapper {
    padding: 10px 15px;
    background-color: #3f1478;
    border-radius: 5px;
  }
}

.featured-article-all-details {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 600px;
}
