.featured-article {
  margin: 5vw;
  background-color: var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--white);
}

.featured-article-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-article-button {
  background-color: var(--tertiary-color);
  color: var(--black);
  font-weight: 700;
  font-size: clamp(12px, 14px, 24px);
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  margin: 25px
}

.featured-article-title-poster-rating {
  width: clamp(210px, 26vw, 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.featured-article-poster {
  width: 200px;
  border: 1px solid white;
  border-radius: 5px
}

.featured-article-rating {
  margin: 0.83em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-article-right-info {
  width: clamp(295px, 51vw, 700px);
  padding: 16px;
}

.featured-article-tagline {
  /* width: clamp(375px, 51vw, 100vw); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: clamp(10px, 12px, 16px);
  margin-bottom: 20px;
/* border: 2px solid purple; */
}

.featured-article-overview {
  .outer-wrapper {
    /* Controls the outer spacing of the description */
    margin: 20px 0;
    /* Adds space above and below the description */
  }

  .inner-wrapper {
    /* Controls the inner spacing and ensures content is well-contained */
    padding: 10px 15px;
    /* Adds padding inside the description area */
    background-color: #ffffff;
    /* Background color for description box */
    border-radius: 5px;
    /* Rounds the corners of the description box */
  }
}

.featured-article-all-details {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 600px;
}

.featured-article-detail {
  width: 105px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid white;
  padding: 10px;
  min-width: 100px;
}

.featured-article-genres {
  width: clamp(375px, 51vw, 700px);
}

.featured-article-genres-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.featured-article-genres-box {
  width: 130px;
  margin: 5px;
  text-align: center;
  padding: 5px;
  background-color: blue;
  border: 1px solid white;
}


.featured-article-videos {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px;
}

.video-container {
  margin-bottom: 5vh;
  text-align: center;
}

.video {
  width: 75vw;
  height: 42vw;
  border-width: 1.5px;
  border-style: solid;
  border-color: white;
  border-image: none;
}

@media screen and (max-width: 885px) {
  .featured-article-all-details {
    flex-wrap: wrap;
    justify-content: left;
  }
}