html{
  color: white;
}
header {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.site-title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  font-size: 25px;
}

.full-site-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5vmin;
  margin-right:5vmin;  }

.search-all {
  width: clamp(30vmin, 55vmin, 100vmin);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right:5vmin;  margin-left: 5vmin;

}

